body {
  background-color: #516794;
  font-family: 'Open Sans', sans-serif;
}
.release {
  margin: 60px 20px 45px;
}
#shortcuts {
  margin-top: 40px;
  margin-bottom: 40px;
}
.link {
  color: lightgrey;
}
.desc {
  margin-top: 55px;
  margin-bottom: 45px;
}
.github p {
  color: floralwhite;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .2s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.flexbox {
  display: flex;
  flew-wrap: wrap;
  justify-content: center;
  align-items: center;
}